<h2 id="title">Welcome to Weather App</h2>

  <section id="weatherapp">
    <header id="header">
    </header>
    <body>
      <section id="main">
        <h1>Change Location</h1>
        {{input
        type="text"
        id="mylocation"
        placeholder="Zip Code"
        value=locationZip
        action="getTemp"}}

        <h1>Date Range</h1>
        From: {{date-picker date=fromDate valueFormat='YYYY-MM-DD'}}
        To: {{date-picker date=toDate valueFormat='YYYY-MM-DD'}}
        <p/>
        <button id="update-button" {{action "getTemp"}}>Refresh</button>
      </section>
    </body>
    <footer>
    </footer>
  </section>

{{outlet}}
